################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WEB_GESTION/FileContentIndex/e3e64a16-b8c3-4c49-81e8-96670af79ab7.vsidx
