@{
    ViewData["Title"] = "Tareas";
}

<h1>Tareas</h1>


<table>
    <tr>
        <th>Id</th>
        <th>Usuario</th>
        <th>Descripcion</th>
        <th>Estado</th>
    </tr>
    {
        <tr>
            <td>001</td>
            <td>Coloaborador 1</td>
            <td>Se solicita mantenimineto de la apliacion administrativa, se estan generando fallas al guardar.</td>
            <td>En Proceso</td>
            <td>
                <a href="@Url.Action("Edit", new{Id = 001})">Editar</a>
            </td>
        </tr>
    }
</table>